* {
    box-sizing: border-box; /* включает padding в общую ширину элемента */
}

body {
    background-color: #242422;
    width: 1295px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body, button, p, h1, h2, a {
    font-family: "Gilroy", sans-serif;
    color: #ffff;
}  

p, h1, h2, h3, a {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}
h1, h2 {
    font-weight: 600;
}
h1 {
    font-size: 46px;
}
h2 {
    font-size: 30px;
}
p {
    font-size: 25px;
}
.header-icon, .cart-link-icon {
    height: 40px;
    cursor: pointer;
    padding-left: 24px;
}
.cart-link-icon--disabled {
    height: 40px;
    cursor: default;
    padding-left: 24px;
}

.header {
    width: 1295px;
    margin: 10px 0;
    height: 52px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

input, .page__search-item {
    height: 51px;
}
.search-btn {
    padding: 12px 46px;
    font-size: 25px;
    width: 165px;
}

input {
    background-color: #242422;
    border-color: #ffff;
    border-style: solid 1px;
    border-radius: 5px;
    color: #ffff;
}
.search-input {
    font-size: 18px;
    padding-left: 16px;
}
.page__search-input {
    width: 1125px;
}

.page__search {
    width: 1350px;
    margin-left: 30px;
    margin-top: 10px;

    display: flex;
    align-items: center;
    gap: 10px;
}

ul li a {
    text-decoration: none;
}
.ship-cards {
    width: 1350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px;
}
.ship-item {
    max-width: 660px;
    background-color: #3A3A3A;
    padding: 40px 40px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.ship-image {
    width: 561px;
}
.ship-item-text {
    width: 489px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.btn {
    background-color: #AA9B7D;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border: none;
}
.card-btn {
    width: 489px;
    padding: 14px 32px;
}

.cart-link {
    position: relative;
    display: inline-block; /* чтобы позиционировать дочерние элементы */
    text-decoration: none;
    cursor: pointer;
}

.cart-link--disabled {
    cursor: none;
    opacity: 0.5;
    filter: grayscale(100%); 
}


.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #AA9B7D;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

/* для приавильного рендеринга новых изображений из запроса */

.ship-image {
    width: 561px;
    height: 318px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ship-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}
